// Theme Common CSS Starts Here
* {
	outline: 0;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: $dark-color;
	overflow-x: hidden;
}

::selection {
	background: $primary-color;
	color: $white-color;
}

ol,
ul {
	list-style-type: none;
	margin: 0px;
}

img {
	vertical-align: middle;
	border: 0;
}

a,
a:hover,
a:focus {
	text-decoration: none;
}

a,
button,
select {
	cursor: pointer;
	transition: 0.3s all linear;

	&:focus {
		outline: 0;
	}
}
.section-padding{
	padding: 80px 0px;
}
// Theme Common CSS Ends Here

// Custom Theme Components & Items Or Section CSS Starts Here
// Margin & Padding Starts Here
.py-20 {
	padding: 20px 0px;
}
.py-70 {
	padding: 70px 0px;
}
.me-50 {
	margin-right: 50px;
}

// Margin & Padding Ends Here

// Line Starts Here
.has-line{
	position: relative;
	&::before{
		position: absolute;
		content: '';
		top: 0;
		left: -10px;
		height: 100%;
		width: 4px;
		background-color: $primary-color;
		border-radius: 10px;
	}
}
// Line Ends Here
// Banner Area Starts Here
.banner-area{
    padding: 180px 0px;
    background-image: url(../images/hero/banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
// Banner Area Ends Here

// Brand Area Starts Here
.brand{
    svg{
        cursor: pointer;
        path{
            transition: 0.3s all linear;
        }
        &:hover{
            path{
                fill: $white-color;
            }
        }
    }
}
// Brand Area Ends Here

// Musicplayer Item Starts Here
.musicplayer{
    border: 1px solid #707070;
    border-radius: 20px;
    img{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .card-body{
        background-color: #1B262C;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}
// Musicplayer Item Ends Here

// Footer==> Quick Links Starts Here
.quick-links{
	h4{
		color: $primary-color;
	}
    a{
        margin-top: 20px; 
        display: inline-block;
        color: $white-color;
        transition: 0.3s all linear;
        &:hover{
            color: $primary-color;
        }
    }
}
.social-links{
    a{
        margin: 0 10px;
        font-size: 20px;
        color: $white-color;
        transition: 0.3s all linear;
        &:hover{
            color: $primary-color;
        }
    }
}
// Footer==> Quick Links Ends Here
// Custom Theme Components & Items Or Section CSS Ends Here