/*  typography Starts Here*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    line-height: 1.2;
    font-family: $primary-font;
    font-size: 16px;
    color: $secondary-color;
    -webkit-font-smoothing: antialiased;
}

p,
.paragraph {
    font-family: $primary-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.9;
    color: $secondary-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $primary-font;
    font-weight: 500;
    color: $white-color;
    line-height: 1.2;
}

h2,
.h2 {
    font-size: 48px;
}

h3,
.h3 {
    font-size: 32px;
}

h4,
.h4 {
    font-size: 24px;
}

h5,
.h5 {
    font-size: 16px;
}

h6,
.h6 {
    font-size: 14px;
}

/*  typography Ends Here*/

// BG Color Starts Here
.bg-primary {
    background-color: $primary-color !important;
}

.bg-secondary {
    background-color: $secondary-color !important;
}

.bg-dark{
    background-color: $dark-color !important;
}

// BG Color Ends Here

// Buttons Starts Here
.btn {
    padding: 10px 25px !important;
    font-size: 16px !important;

    &:focus {
        box-shadow: none !important;
        outline: none !important;
    }
}

.btn-primary {
    border: 1px solid $primary-color !important;
    background-color: $primary-color !important;
    border-radius: 4px !important;

    &:hover {
        background-color: transparent !important;
        color: $primary-color !important;
    }
}

.btn-outline-primary {
    border: 1px solid $primary-color !important;
    color: $primary-color;
    border-radius: 4px !important;

    &:hover {
        background-color: $primary-color;
        color: $white-color;
    }
}

// Buttons Ends Here

// Border Radious Starts Here

// Border Radious Ends Here