// Color Variables
$primary-color: #7971E9;
$secondary-color: #293942;
$white-color: #F9F8FF;
$dark-color: #1B262C; 
$white-50-color: #8A8F96;
$info-color: #7971E9;

// Font Variables
$primary-font: 'Poppins', sans-serif;