/*
THEME:   Template
VERSION: 1.0.0
AUTHOR: 
GITHUB: 
WEBSITE: 
TWITTER: 
FACEBOOK: 
*/
/*  typography Starts Here*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
body {
  line-height: 1.2;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #293942;
  -webkit-font-smoothing: antialiased;
}

p,
.paragraph {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  color: #8A8F96;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #F9F8FF;
  line-height: 1.2;
}

h2,
.h2 {
  font-size: 48px;
}

h3,
.h3 {
  font-size: 32px;
}

h4,
.h4 {
  font-size: 24px;
}

h5,
.h5 {
  font-size: 16px;
}

h6,
.h6 {
  font-size: 14px;
}

/*  typography Ends Here*/
.text-white-50 {
  color: #8A8F96 !important;
}

.text-info {
  color: #7971E9 !important;
}

.text-white {
  color: #F9F8FF !important;
}

.bg-primary {
  background-color: #7971E9 !important;
}

.bg-secondary {
  background-color: #293942 !important;
}

.bg-dark {
  background-color: #1B262C !important;
}

.btn {
  padding: 10px 25px !important;
  font-size: 16px !important;
}

.btn:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
}

.btn-primary {
  border: 1px solid #7971E9 !important;
  background-color: #7971E9 !important;
  border-radius: 4px !important;
}

.btn-primary:hover {
  background-color: transparent !important;
  color: #7971E9 !important;
}

.btn-outline-primary {
  border: 1px solid #7971E9 !important;
  color: #7971E9;
  border-radius: 4px !important;
}

.btn-outline-primary:hover {
  background-color: #7971E9;
  color: #F9F8FF;
}

.btn-link {
  text-decoration: none;
  color: #7971E9;
  font-size: 18px;
  font-weight: 500;
}

.btn-link:hover {
  color: #F9F8FF;
}

.btn-link:hover svg {
  margin-right: 2px !important;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

.btn-link:hover svg path {
  fill: #F9F8FF;
}

.btn-link svg {
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

.btn-link svg path {
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

.btn-lg {
  padding: 10px 35px !important;
}

.rounded-2 {
  border-radius: 8px !important;
}

* {
  outline: 0;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #1B262C;
  overflow-x: hidden;
}

::-moz-selection {
  background: #7971E9;
  color: #F9F8FF;
}

::selection {
  background: #7971E9;
  color: #F9F8FF;
}

ol,
ul {
  list-style-type: none;
  margin: 0px;
}

img {
  vertical-align: middle;
  border: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a,
button,
select {
  cursor: pointer;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

a:focus,
button:focus,
select:focus {
  outline: 0;
}

.section-padding {
  padding: 80px 0px;
}

.py-20 {
  padding: 20px 0px;
}

.py-70 {
  padding: 70px 0px;
}

.me-50 {
  margin-right: 50px;
}

.has-line {
  position: relative;
}

.has-line::before {
  position: absolute;
  content: '';
  top: 0;
  left: -10px;
  height: 100%;
  width: 4px;
  background-color: #7971E9;
  border-radius: 10px;
}

.banner-area {
  padding: 180px 0px;
  background-image: url(../images/hero/banner.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.brand svg {
  cursor: pointer;
}

.brand svg path {
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

.brand svg:hover path {
  fill: #F9F8FF;
}

.musicplayer {
  border: 1px solid #707070;
  border-radius: 20px;
}

.musicplayer img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.musicplayer .card-body {
  background-color: #1B262C;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.quick-links a {
  margin-top: 20px;
  display: inline-block;
  color: #F9F8FF;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

.quick-links a:hover {
  color: #7971E9;
}

.social-links a {
  margin: 0 10px;
  font-size: 20px;
  color: #F9F8FF;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

.social-links a:hover {
  color: #7971E9;
}

header .navbar-nav .nav-item .active {
  color: #F9F8FF !important;
}

header .navbar-nav .nav-item .active::after {
  width: 100% !important;
}

header .navbar-nav .nav-item .nav-link {
  font-size: 16px;
  font-weight: 600;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
  display: inline-block;
  padding: 0;
  margin-left: 60px;
  color: #F9F8FF;
  position: relative;
}

header .navbar-nav .nav-item .nav-link::after {
  position: absolute;
  content: '';
  bottom: -5px;
  left: 0;
  background-color: #7971E9;
  height: 2px;
  width: 0%;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

header .navbar-nav .nav-item .nav-link:hover {
  color: #7971E9;
}

header .navbar-nav .nav-item .nav-link:hover::after {
  width: 100%;
}

@media (max-width: 420px) {
  .navbar-brand {
    margin-right: 0 !important;
  }
  .navbar-brand img {
    max-width: 85% !important;
  }
}

@media (max-width: 991px) {
  header .navbar-nav {
    margin-right: 0;
    margin-bottom: 30px !important;
  }
  header .navbar-nav .nav-item {
    margin-top: 25px;
  }
  header .navbar-nav .nav-item .nav-link {
    margin-left: 0 !important;
  }
  header .navbar-toggler:focus {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    border: 1px solid #7971E9;
  }
}
/*# sourceMappingURL=style.css.map */